<p id="notice"><%= notice %></p>

<h1>Listing Childcompanies</h1>

<table>
  <thead>
    <tr>
      <th>Cost1</th>
      <th>Cost2</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @childcompanies.each do |childcompany| %>
      <tr>
        <td><%= childcompany.cost1 %></td>
        <td><%= childcompany.cost2 %></td>
        <td><%= childcompany.company %></td>
        <td><%= link_to 'Show', childcompany %></td>
        <td><%= link_to 'Edit', edit_childcompany_path(childcompany) %></td>
        <td><%= link_to 'Destroy', childcompany, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Childcompany', new_childcompany_path %>
