<p id="notice"><%= notice %></p>

<p>
  <strong>Cost1:</strong>
  <%= @childcompany.cost1 %>
</p>

<p>
  <strong>Cost2:</strong>
  <%= @childcompany.cost2 %>
</p>

<p>
  <strong>Company:</strong>
  <%= @childcompany.company %>
</p>

<%= link_to 'Edit', edit_childcompany_path(@childcompany) %> |
<%= link_to 'Back', childcompanies_path %>
